#Header{
    height: 50px;
    background-color: rgb(82, 152, 114);
    margin-top: ;
}
#name{
    color: white;
    margin-top: 0px;
    padding-top: 13px;
    padding-right: 250px;
    font-size: ;
    font-weight: bold;
}